.App-header {
  /* position: relative; */
  height: 120px;
  left: 0px;
  right: 0px;
  top: 0px;
  background: rgba(255, 255, 255, 0.96);
}

.hover-point:hover {
  cursor: pointer;
}

.Header-lev1 {
  /* position: relative; */
  width: 1120px;
  height: 50px;
  display: flex;
  flex-direction: row;
  /* left: calc(50% - 1120px/2); */
  /* top: calc(50% - 50px/2); */
}

.Header-a {
  box-sizing: border-box;
  margin-left: 200px;
  /* Auto layout */
  /* display: flex; */
  /* flex-direction: row; */
  /* align-items: flex-start; */
  padding: 9px 17.6719px 11px 18px;

  /* position: relative; */
  width: 200.67px;
  height: 48px;
  /* right: 0px; */
  top: calc(50% - 48px/2);

  background: #1355FF;
  border: 2px solid #1355FF;
  /* left: 24px; */
  /* top: calc(50% - 24px/2 - 1px); */

  /* identical to box height, or 171% */

}

.Header-contact {
  width: 73px;
  height: 24px;

  font-family: 'Inter' !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 14px !important;
  white-space: nowrap;
  /* identical to box height, or 171% */
  /* display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.28px; */

  color: #FFFFFF;


  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.Header-nav {
  /* position: relative; */
  width: 323.06px;
  height: 32px;
  /* top: calc(50% - 32px/2); */
  display: flex;
  flex-direction: row;
  /* margin-top: 12px; */
}

.Nav-dropdown {
  appearance: none;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  /* padding: 3px 28.8281px 5px 12px; */
  isolation: isolate;

  font-family: 'Inter' !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 14px !important;

  /* position: relative; */
  width: 81.83px;
  /* left: calc(50% - 81.83px/2 + 1.7px); */
  /* top: 0px; */
  /* bottom: 0px; */
  border: none;
  background: none;
  color: #37456C !important;

}

.Nav-dropdown-dots {
  /* position: relative; */
  width: 14px;
  height: 14px;
  right: 10px;
  top: 9px;

  font-family: 'Inter' !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 14px !important;


  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  z-index: 1;
}



.Nav-values {
  appearance: none;
  width: 41px;
  height: 24px;

  font-family: 'Inter' !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 14px !important;

  /* identical to box height, or 171% */
  display: flex;
  align-items: center;
  letter-spacing: -0.28px;

  color: #37456C !important;


  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  z-index: 0;
}

.Nav-dropdown-dots-text {
  appearance: none;
  /* position: relative; */
  width: 13.93px;
  height: 14px;
  left: 0px;
  top: 0px;

  font-family: 'Inter' !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 14px !important;

  /* identical to box height, or 100% */
  display: flex;
  align-items: center;
  letter-spacing: -0.28px;

  color: #37456C !important;

}

.Nav-template {
  /* position: relative; */
  width: 62px;
  height: 24px;
  /* left: 238.14px; */
  /* top: calc(50% - 24px/2 - 1px); */

  font-family: 'Inter' !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 14px !important;

  /* identical to box height, or 171% */
  display: flex;
  align-items: center;
  letter-spacing: -0.14px;
  color: #37456C !important;



}

.Nav-overview {
  /* position: relative; */
  width: 63px;
  height: 24px;
  /* left: 24px; */
  /* top: calc(50% - 24px/2 - 1px); */
  appearance: none;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;

  /* identical to box height, or 171% */
  display: flex;
  align-items: center;
  letter-spacing: -0.14px;
  color: #37456C;
  border: none;
  background: none;

}

.Opus-logo {
  /* position: relative; */
  width: 97px;
  height: 32px;
  left: calc(50% - 97px/2 - 511.5px);
  top: calc(50% - 32px/2);
}

.Opus-logo-inside {
  /* position: relative; */
  width: 97px;
  height: 32px;
  left: calc(50% - 97px/2);
  top: calc(50% - 32px/2);

}

.Opus-logo-inside-logo {
  /* Vector */

  /* position: relative; */
  left: 2.75%;
  right: 69.76%;
  top: 8.33%;
  bottom: 8.34%;

  background: #1355FF;

}

.body-1 {
  /* position: relative; */
  width: 1512px;
  height: 6723px;
  left: 0px;
  top: 1287.5px;
}

.body-2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  /* padding: 96px 196px; */

  /* position: relative; */
  width: 1512px;
  height: 352px;

  background: #FFFFFF;
}

.body-3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
  width: 1120px;
  height: 160px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.body-box1 {
  display: flex;
  flex-direction: column;
  width: 256px;
  height: 160px;
  /* Inside auto layout */
  align-items: center;
  text-align: center;
  justify-content: center;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.body-box2 {
  display: flex;
  flex-direction: column;
  width: 256px;
  height: 160px;
  /* Inside auto layout */
  align-items: center;
  justify-content: center;
  text-align: center;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.body-box3 {
  display: flex;
  flex-direction: column;
  width: 256px;
  height: 160px;
  /* Inside auto layout */
  align-items: center;
  justify-content: center;
  text-align: center;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.body-box4 {
  display: flex;
  flex-direction: column;
  width: 256px;
  height: 160px;
  /* Inside auto layout */
  align-items: center;
  justify-content: center;
  text-align: center;
  flex: none;
  order: 3;
  flex-grow: 0;
}

.body-box-number {
  /* position: relative; */
  width: 133px;
  height: 48px;
  /* left: calc(50% - 133px/2 - 0.27px); */
  /* top: calc(50% - 48px/2 - 41px); */

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 37px;
  line-height: 48px;

  /* identical to box height, or 130% */
  display: flex;
  align-items: center;
  align-self: center;
  text-align: center;
  justify-content: center;
  letter-spacing: -1.2px;
  margin: auto;
  color: #061237;
  white-space: nowrap;
}

.body-box-terms {
  /* position: relative; */
  width: 200px;
  height: 32px;
  /* left: calc(50% - 105px/2 + 0.17px); */
  /* top: calc(50% - 32px/2 + 8px); */

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;

  /* identical to box height, or 200% */
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: -0.16px;

  color: #061237;
  white-space: nowrap;
}

.body-box-description {
  /* position: relative; */
  width: 127px;
  height: 32px;
  /* left: calc(50% - 127px/2 + 0.16px); */
  /* top: calc(50% - 32px/2 + 40px); */

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;

  /* identical to box height, or 200% */
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: -0.16px;

  color: #67718E;
  white-space: nowrap;
}

.Video {
  width: 992px;
  height: 908px;
  left: calc(50% - 992px/2);
  top: 448px;
}

.Video-title {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  /* padding: 19px 858px 21px 32px; */
  isolation: isolate;

  /* width: 992px; */
  height: 64px;
  left: 0px;
  top: 0px;
}

.Video-pic {
  width: 40px;
  height: 40px;


  background: #F7F9FC;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  z-index: 0;
}

.Video-text {
  /* VIDEO TITLE */

  width: 102px;
  height: 24px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */
  display: flex;
  align-items: center;
  letter-spacing: 1.5px;
  text-transform: uppercase;

  color: #67718E;


  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  z-index: 1;
  white-space: nowrap;
}

.Video-heading {
  height: 550px;
  left: 0px;
  top: 208px;
}

.Video-heading-text {
  width: 721px;
  height: 56px;
  left: 0px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;

  /* identical to box height, or 117% */
  display: flex;
  align-items: center;
  letter-spacing: -1.44px;

  color: #061237;
}

.Video-thumb {
  width: 992px;
  height: 550px;
  left: calc(50% - 992px/2);
  top: calc(50% - 550px/2);

}

.Video-smallpic {
  /* div */
  position: relative;
  width: 92px;
  height: 92px;
  left: -92px;
  /* bottom: -92px; */

  background: #F2F3F8;

}

.Video-description {
  /* Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eget consectetur eros. Aliquam erat volutpat. Praesent pulvinar arcu non lectus dapibus, a pulvinar mauris aliquam. */

  position: relative;
  width: 525.87px;
  height: 108px;
  /* left: 120px; */
  right: -270px;
  top: 80px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  /* or 200% */
  display: flex;
  align-items: center;
  letter-spacing: -0.18px;
  color: #37456C;
}

.BodyC3Part1-main {
  width: 588px;
  height: 600px;


  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.BodyC3Part1-white-image {
  width: 64px;
  height: 64px;
  left: 0px;
  top: 0px;

  background: #F7F9FC;
}

.BodyC3-main {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 42px;

  width: 1120px;
  height: 600px;
  left: 196px;
  top: 1548px;


}

.BodyC3Part1-heading {
  width: 377.29px;
  height: 115px;
  left: 0px;
  top: 94px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;

  /* or 117% */
  display: flex;
  align-items: center;
  letter-spacing: -1.44px;

  color: #061237;


}

.BodyC3Part1-description {
  width: 498.33px;
  height: 128px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;

  /* or 200% */
  display: flex;
  align-items: center;
  letter-spacing: -0.16px;

  color: #37456C;


  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.BodyC3Part1-learn-more {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 11px 42.0781px 13px 41px;

  width: 157.08px;
  height: 48px;

  background: #1355FF;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.BodyC3Part1-learn-more-text {
  width: 74px;
  height: 24px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;

  /* identical to box height, or 171% */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.28px;

  color: #FFFFFF;


  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;

}

.BodyC3Part2-main {
  width: 490px;
  height: 600px;


  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.BodyC3Part2-para1 {
  position: relative;
  height: 184px;
  left: -15%;
  right: 40px;
  top: 0%;

  background: #FFFFFF;
}

.BodyC3Part2-para1-text {
  width: 110%;
  height: 62px;
  left: 40px;
  top: 89px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;

  /* or 133% */
  padding: 20%;
  display: flex;
  align-items: center;
  letter-spacing: -0.28px;

  color: #061237;
}

.BodyC3Part2-bg {
  width: 490px;
  height: 490px;
  right: 0px;
  bottom: 0px;
  background: #F2F3F8;
}

.BodyC3Part2-bg2 {
  position: relative;
  left: -120px;
  right: 69.87%;
  top: 83.27%;
  height: 120px;
  width: 120px;
  bottom: 0%;

  background: #F2F3F8;
}

.BodyC3Part2-small-img1 {
  width: 40px;
  height: 40px;
  left: 40px;
  top: calc(50% - 40px/2 - 48px);
}

.Blue-main {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 96px 196px 64px;

  position: absolute;
  width: 100%;
  height: 912px;
  left: 0px;
  right: 0px;

  background: #061237;
}

.Blue-internal {
  width: 1120px;
  height: 658px;


  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.Blue-title {
  position: relative;
  width: 1120px;
  height: 68px;
  left: 0px;
  top: 0px;
  display: flex;
  flex-direction: row;
}

.Blue-title-a {
  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 13px 33.6719px 15px 34px;
  width: 142.67px;
  height: 52px;
  /* left: 30%; */
  top: calc(50% - 52px/2);
  position: relative;

  background: #1355FF;
  border: 2px solid #1355FF;
}

.Blue-title-a-text {
  width: 75px;
  height: 24px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;

  /* identical to box height, or 171% */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.28px;

  color: #FFFFFF;


  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.Blue-title-text {
  width: 471px;
  height: 56px;
  /* left: -10%; */
  top: calc(50% - 56px/2 - 7px);

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;

  /* identical to box height, or 117% */
  position: relative;
  display: flex;
  align-items: center;
  letter-spacing: -1.44px;

  color: #FFFFFF;


}

.Blue-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;

  position: relative;
  width: 1120px;
  height: 550px;
  margin: auto;
  top: 108px;
}

.Blue-content-p1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 32px;

  width: 352px;
  height: 550px;


  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.Blue-content-p1-title {
  width: 240px;
  height: 32px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;

  /* identical to box height, or 133% */
  display: flex;
  align-items: center;
  letter-spacing: -0.28px;

  color: #FFFFFF;


  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.Blue-content-p1-des {
  width: 298.9px;
  height: 96px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;

  /* or 200% */
  display: flex;
  align-items: center;
  letter-spacing: -0.16px;

  color: #B6BCCE;


  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.Blue-content-p1-img {
  height: 320px;
  left: 0px;
  right: 0px;
  top: calc(50% - 320px/2);
}

.Blue-design1 {
  position: absolute;
  width: 64px;
  height: 64px;
  left: 263px;
  top: 24px;

  background: #1355FF;
}

.Blue-design2 {
  position: absolute;
  width: 32px;
  height: 32px;
  left: 327px;
  top: -8px;

  background: #18264E;
}